<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">TradeR</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user/journals"
            routerLinkActive="active"
            >Journals</a
          >
        </li>
      </ul>

      <form
        *ngIf="!(userService.currentUser$ | async)"
        #loginForm="ngForm"
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="login()"
      >
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
          aria-label="Username"
          [(ngModel)]="model.username"
          name="username"
        />
        <input
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
          aria-label="Password"
          [(ngModel)]="model.password"
          name="password"
        />
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>

      <div
        *ngIf="userService.currentUser$ | async as user"
        class="btn-group mr-3"
        dropdown
      >
        <button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn btn-link text-muted dropdown-toggle"
          aria-controls="dropdown-animated"
        >
          Welcome {{ user.userName }} <span class="caret"></span>
        </button>
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li role="menuitem">
            <a class="dropdown-item" href="#">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
