<div class="container w-75 mt-3 v-100">
  <div class="journal_container border rounded">
    <div class="journal-container-header row">
      <div class="col">
        <h3 class="text-info">Journals</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <Button class="btn btn-primary" routerLink="/{{currentUser.userName}}/journals/add"> Add </Button>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let journal of journals" class="d-flex">
          <tr>
            <td>
              {{journal.name}}
            </td>
            <td>
              {{journal.description}}
            </td>
            <td>
              <div class="float-right">
                <button class="btn btn-primary" (click)="enter(journal)">Enter</button>
                <button class="btn btn-info mx-2" (click)="edit(journal)">Edit</button>
                <button class="btn btn-danger" (click)="displayAlert(journal)">Delete</button>
              </div>
            </td>
          </tr>

          <tr *ngIf="journal.toDelete">
            <td colspan="9">
              <alert type="warning">
                <div class="d-flex">
                  <p class="d-inline mb-0">
                    You are about to
                    <strong class="text-danger">DELETE</strong> {{journal.name}}
                  </p>
                  <div class="d-inline button-group ml-auto">
                    <button class="btn btn-danger" (click)="delete(journal)">
                      <span aria-hidden="true">Yes</span>
                    </button>
                    <button class="btn btn-warning"
                            (click)="displayAlert(journal)">
                      <span aria-hidden="true">No</span>
                    </button>
                  </div>
                </div>
              </alert>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>


