<div class="container w-75 mt-3 v-100">
  <div class="trade_container border rounded">
    <div class="trade-container-header row">
      <div class="col">
        <h3 class="text-info">{{ selectedJournal.name | uppercase}} TRADES</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <Button class="btn btn-primary" (click)="add()"> Add</Button>
      </div>
    </div>

    <section class="d-flex flex-column justify-content-center h-100 mt-2">
      <div class="container-fluid">
        <table class="w-100">
          <thead>
            <tr class="text-center">
              <th>Market</th>
              <th>Ticker</th>
              <th>Entry</th>
              <th>Take Profit</th>
              <th>Stop Loss</th>
              <th>Risk/Reward</th>
              <th>W/L</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let trade of trades">
              <tr class="text-center">
                <td>{{ trade.type }}</td>
                <td>{{ trade.ticker }}</td>
                <td>{{ trade.entry }}</td>
                <td>{{ trade.takeProfit }}</td>
                <td>{{ trade.stopLoss }}</td>
                <td>{{ trade.riskReward }}</td>
                <td
                  [ngClass]="
                    trade.result == 'WIN' ? 'text-success' : 'text-danger'
                  "
                >
                  {{ trade.result }}
                </td>
                <td><button class="btn btn-info">Show</button></td>
                <td>
                  <button class="btn" (click)="edit(trade)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn" (click)="displayAlert(trade)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="trade.toDelete">
                <td colspan="9">
                  <div
                    class="alert alert-warning alert-dismissible fade show d-flex"
                    role="alert"
                  >
                    <p class="d-inline mb-0">
                      You are about to
                      <strong class="text-danger">DELETE</strong> the trade
                      above
                    </p>
                    <div class="button-group ml-auto">
                      <button class="btn btn-danger" (click)="delete(trade)">
                        <span aria-hidden="true">Yes</span>
                      </button>
                      <button
                        class="btn btn-warning"
                        (click)="displayAlert(trade)"
                      >
                        <span aria-hidden="true">No</span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
