<div class="container-fluid w-50 mt-3 bg-light border rounded p-3">
    <div class="mb-2">
      <h3 class="d-inline">
        Add a <span class="text-success">NEW</span> Trade
      </h3>
      <i
        class="bi bi-x-square-fill float-right text-danger"
        (click)="cancel()"
      ></i>
    </div>
  
    <form #tradeForm="ngForm" (ngSubmit)="add(type)">
      <div class="form-group">
        <label for="type">Type:</label>
        <select class="custom-select" [(ngModel)]="model.type" name="type" #type="ngModel" required>
            <option value="FOREX">FOREX</option>
            <option value="STOCK">STOCK</option>
            <option value="CRYPTO">CRYPTO</option>
          </select>
      </div>
      <div *ngIf="type.invalid && (type.dirty || type.touched)">
        <div *ngIf="type.errors?.['required']" class="text-danger">
          Type is required
        </div>
      </div>

      <div class="form-group">
        <label for="ticker">Ticker:</label>
        <input class="form-control" type="text" [(ngModel)]="model.ticker" name="ticker" #ticker="ngModel" required />
      </div>
      <div *ngIf="ticker.invalid && (ticker.dirty || ticker.touched)">
        <div *ngIf="ticker.errors?.['required']" class="text-danger">
          Ticker is required
        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-4">
          <label for="entry">Entry:</label>
          <input class="form-control" type="text" [(ngModel)]="model.entry" name="entry" #entry="ngModel" required/>
        </div>
        <div *ngIf="entry.invalid && (entry.dirty || entry.touched)">
          <div *ngIf="entry.errors?.['required']" class="text-danger">
            Entry is required
          </div>
        </div>

        <div class="col-md-4">
          <label for="takeProfit">Take Profit:</label>
          <input class="form-control" type="text" [(ngModel)]="model.takeProfit" name="takeProfit" #tp="ngModel" required/>
        </div>
        <div *ngIf="tp.invalid && (tp.dirty || tp.touched)">
          <div *ngIf="tp.errors?.['required']" class="text-danger">
            Take profit is required
          </div>
        </div>

        <div class="col-md-4">
          <label for="stopLoss">Stop Loss:</label>
          <input class="form-control" type="text" [(ngModel)]="model.stopLoss" name="stopLoss" #sl="ngModel" required/>
        </div>
        <div *ngIf="sl.invalid && (sl.dirty || sl.touched)">
          <div *ngIf="sl.errors?.['required']" class="text-danger">
            Stop loss is required
          </div>
        </div>
      </div>


      <div class="row mb-2">
        <div class="col-md-6">
          <label for="riskReward">Risk:Reward:</label>
          <input class="form-control" type="text" [(ngModel)]="model.riskReward" name="riskReward" #riskReward="ngModel" required/>
        </div>
        <div *ngIf="riskReward.invalid && (riskReward.dirty || riskReward.touched)">
          <div *ngIf="riskReward.errors?.['required']" class="text-danger">
            Risk:Reward  is required
          </div>
        </div>

        <div class="col-md-6">
          <label for="result">Result:</label>
          <select class="custom-select" [(ngModel)]="model.result" name="result" #result="ngModel" required>
              <option value="WIN">WIN</option>
              <option value="LOSS">LOSS</option>
              <option value="N/A">N/A</option>
            </select>
        </div>
        <div *ngIf="result.invalid && (result.dirty || result.touched)">
          <div *ngIf="result.errors?.['required']" class="text-danger">
            Result is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="notes">notes:</label>
        <textarea class="d-block w-100" name="notes" id="notesTextarea" rows="5" [(ngModel)]="model.notes" name="notes" #notes="ngModel" required></textarea>
      </div>
      <div *ngIf="notes.invalid && (notes.dirty || notes.touched)">
        <div *ngIf="notes.errors?.['required']" class="text-danger">
          Notes is required
        </div>
      </div>

      <div class="form-group d-flex justify-content-end mb-0">
        <div class="btn-group">
          <button
            [disabled]="tradeForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
