<div class="journal-card card mb-2">
  <div class="card-body justify-content-center align-items-center">
    <div class="journal-name col-4 col-md-3"><i class="bi bi-journal-bookmark-fill"> {{journal.name}}</i></div>
    <div class="col">
      <span class="journal-notes">{{journal.description}}</span>
    </div>
    <div class="col-3 col-md-3">
      <button class="btn btn-primary" routerLink="/user/journals/journal1/trades">Enter</button>
      <button class="btn btn-info mx-2" routerLink="/user/journals/journal1/edit">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
