.journal-card {
  .card-body {
    display: flex;
    flex-direction: row;
    height: 5rem;

    img {
      height: 90%;
    }

    .journal-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .journal-notes {
      border-radius: 3px;
      width: 100%;
      height: 100%;
    }
  }
}
