<div class="modal-header bg-info">
  <h4 class="modal-title pull-left text-white"><strong>Register</strong></h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #registerForm="ngForm" id="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <label class="text-muted font-weight-bold" for="InputUsername">Username</label>
          <input
            type="text"
            class="form-control"
            id="InputUsername"
            placeholder="Enter a username"
            [(ngModel)]="model.username"
            name="username"
          />
        </div>
        <div class="col-6">
          <label class="text-muted font-weight-bold" for="InputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            placeholder="Enter a password"
            [(ngModel)]="model.password"
            name="password"
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="text-muted font-weight-bold" for="InputEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        id="InputEmail"
        aria-describedby="emailHelp"
        placeholder="Example@example.com"
        [(ngModel)]="model.email"
        name="email"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button form="registerForm" type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Cancel</button>
</div>
